@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=panchang@200,500,700,300,400,800,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', 'Panchang';
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-family: 'Panchang';
}

.nav {
    width: 100%;
    box-sizing: border-box;
    padding: 2rem 3rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: .3s;
    z-index: 100;
}

.nav-backdrop {
    background: transparent;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.nav ul {
    display: inline-flex;
    column-gap: 1rem;
}

.nav ul li {
    list-style: none;    
    display: inline;
    font-weight: 500;
    font-size: 1rem;
}

.nav ul li a {
    color: white;
    transition: .3s;
}

.nav ul li a:hover {
    text-shadow: cyan 1px 0 10px;
}

.btn {
    padding: .5rem 1rem;
    transition: .3s;
    color: white;
    width: fit-content;
    width: -moz-fit-content;
    outline: none;
    border: none;
}

.btn:hover {
    background: white;
    color: black;
}

.main {
    box-sizing: border-box;
    padding: 8rem 3rem;
    min-height: 100vh;
}

.photo {
    width: 70%;
    border-radius: 10px;
}

.about-me {
    color: white;
}

.about {
    padding: 5rem 3rem;
    background-color: black;
    color:white;
}

pre {
    color: #B6B1B1;
    display: inline-block;
    padding: 2rem;
    background: #1E1E1E;
    border-radius: 1rem;
}

.code {
    font-family: 'JetBrains Mono', monospace;
}

.class {
    color: #F4EEE4;
    text-shadow: 2px 2px 5px red;
}

.string {
    color: #FF8B39;
}

.integer {
    color: #F97E72;
}

.variable {
    color: #F92AAD;
    text-shadow: 2px 2px 5px red;
}

.attr {
    color: #FFF5F6;
    text-shadow: 2px 2px 5px cyan;
}

.code-title {
    display: block;
    font-family: 'JetBrains Mono', monospace;
    margin-bottom: 1rem;
}

.window-control {
    display: flex;
    column-gap: 10px;
    justify-content: flex-end;
}

.window-control div {
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
}

.window-control div:nth-child(1) {
    background-color: #FF5F56;
}

.window-control div:nth-child(2) {
    background-color: #FFBD2E;
}

.window-control div:nth-child(3) {
    background-color: #27C93F;
}

.footer {
    padding: 2rem;
    background-color: black;
    color: white;
    text-align: center;
    font-size: medium;
    font-weight: 500;
}

.form-card {
    padding: 1.5rem;
    border-radius: 15px;
    background: rgba(124, 124, 124, 0.281);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    width: 30vw;
    max-width: 30vw;
    border: 1px solid rgb(190, 190, 190);
}

.form-title {
    color: white;
}

.label {
    display: block;
    color: white;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
}

.input {
    border-radius: 9px;
    padding: 1rem 0.5rem;
    outline: none;
    border: none;
    width: 100%;
    box-sizing: border-box;
    font-size: medium;
}

.link {
    color: white;
    font-size: small;
}

.link:hover {
    text-decoration: underline;
}

.btn-primary {
    background-color: transparent;
}

.table-card {
    padding: 1.5rem;
    border-radius: 15px;
    background: rgba(124, 124, 124, 0.281);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgb(190, 190, 190);
    color: white;
}

.table-card table {
    border-collapse: collapse;
}

.table-card th {
    padding: 1rem .5rem ;
    background-color: white;
    color: black;
    text-align: left;
}

.table-card td {
    padding: .6rem .5rem;
    font-size: 14px;
}

.table-card tbody tr {
    transition: .3s;
    border-bottom: 1px solid white;
}

.table-card tbody tr:last-child {
    transition: .3s;
    border: none;
}

.table-card tbody tr:hover {
    background-color: white;
    color: black;
}

.card {
    padding: 1.5rem;
    border-radius: 15px;
    background: rgba(124, 124, 124, 0.281);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgb(190, 190, 190);
    color: white;
    max-width: 60vw;
}

.embed {
    width: 100%;
    box-sizing: border-box;
    height: 100vh;
}

.task {
    padding: 5rem 3rem;
    background-color: black;
}

.task-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
    text-decoration: none;
}

.task-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.task-card img {
    border-radius: 20px;
}

.task-card h1, p {
    color: white;
}