body {
    background-color: #d3d3d3;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h2 {
    color: #205a3a;
}

ul, li {
    list-style-type: square;
    color: #025396;
}

.menu {
    float: left;
    display: block;
    background-color: #205a3a;
    border: 1px solid #000;
    padding: 5px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.menu a:hover {
    color: #000;
}

#pendahuluan {
    color: #000;
    font-size: 15px;
}